<div class="global">
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center header-transparent">
    <div class="container d-flex justify-content-between align-items-center">
      <div id="logo">
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt=""></a> -->
        <h1><a href="index.html">Indica Digital</a></h1>
      </div>
    </div>
  </header><!-- End Header -->

  <!-- ======= sidenav Section ======= -->
  <div id="mySidenav" class="sidenav d-none d-sm-none d-md-block">
    <a href="#about">Problem</a>
    <a href="#approch">Approch</a>
    <a href="#solution1">Solution</a>
    <a href="#action">Action</a>
  </div>


  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
      <h1>Digital Presence DIY</h1>
      <h5 style="max-width:700px;">
        <p>Building a digital presence and cultivating a brand to support it are two challenges that
          most people aren't equipped to face alone. Without a lot of experience and expertise,
          you're almost certain to fail. But with the right tools, doing it yourself doesn't have to
          mean leaving the job half-done.</p>
      </h5>

    </div>
    <div class="hero-bg-img"><img src="../assets/img/signpost.svg"></div>
  </section>
  <!-- End Hero Section -->

  <main id="main">
    <section id="about" class="row about ">



      <div class="col-lg-9 col-sm-12 content order-lg-1 order-1 cust-about-bg-1 ">
        <div class="container cust-problem-wrapper vertical-center">
          <div>
            <h2 class="title cust-header">Problem</h2>
            <p class="cust-para">
              Building a digital brand requires building real connections
              and meaningful relationships with your customers.
              Establishing that presence 'tneans spending time doing
              research, and growing that presence means constant
              iteration and evolution, keeping up with the nonstop
              changes of the digital world. Trying to accomplish this all
              alone will take too much time, and hiring staff will take too much money.
              We have a solution that gives you the best of
              much money. We have a solution that gives you the best of
              both worlds.
            </p>
          </div>


        </div>

      </div>
      <div class="col-lg content order-lg-2 order-2 cust-about-bg-2">
        <div class="container  vertical-center">
          <div>
            <img src="../assets/img/social-media.svg">
          </div>
        </div>
      </div>





    </section><!-- End About Section -->

    <!-- ======= approch Section ======= -->
    <section id="approch" class="row">
      <!-- <div class="container" data-aos="fade-up">
        <div class="row approch-container"> -->

      <div class="col-lg-3 content order-lg-1 order-1 cust-about-bg-2">
        <div class="container  vertical-center">
          <div>
            <img src="../assets/img/Page-1.svg">
          </div>
        </div>
      </div>

      <div class="col-lg-9 content order-lg-2 order-2 cust-about-bg-1" data-aos="fade-left" data-aos-delay="100">
        <div class="container cust-problem-wrapper vertical-center">
          <div>
            <h2 class="title cust-header">Approach</h2>
            <p class="cust-para">
              What if there was a way you create and manage your own digital presence according to your own vision,
              while still
              getting the benefit of having dedicated experts on staff to handle the nuts and bolts? Digital Playbook
              offers those
              looking to build or grow their digital presence not just a centralized, unified hub for business strategy
              and
              diagnostics, but an invaluable tool for infusing your digital presence with the highly specialized
              expertise needed to
              truly thrive in the online world, all within a model customized to your specific needs.
            </p>

          </div>
        </div>

      </div>
    </section><!-- End approch Section -->

    <!-- ======= solution 1 Section ======= -->
    <section id="solution1" class="row">
      <!-- <div class="container cust-padding" data-aos="fade-up">
        <div class="row solution-container"> -->

      <div class="col-lg-3 content order-lg-2 order-2 cust-about-bg-2">
        <div class="container  vertical-center">
          <div>
            <img src="../assets/img/XMLID_915_.svg">
          </div>
        </div>
      </div>
      <div class="col-lg-9 content order-lg-1 order-1 cust-about-bg-2">
        <div class="container cust-problem-wrapper vertical-center">
          <div>
            <h2 class="title cust-header">Solution</h2>
            <p class="cust-para">
              In American football, the most important asset in the toolset of a head coach is their playbook. Put
              together with the
              help of their coaching staff to take full advantage of all of the team's strengths, and account for all of
              its
              weaknesses, a coach with a strong playbook can feel confident they'll be able to get the very best out of
              their team, no
              matter the opponent. With the knowledge that they have plans and contingencies ready for any situation,
              they can focus
              their attention on game strategy, rather than the play-to-play tactics.

            </p>
          </div>

        </div>
      </div>


    </section><!-- End solution 1 Section -->

    <!-- ======= solution 2 Section ======= -->
    <section id="solution">
      <div class="container" data-aos="fade-up">
        <div class="row solution-container">

          <div class="col-lg-1 content order-lg-1 order-1"></div>

          <div class="col-lg-11 col-sm-12 content order-lg-2 order-2" data-aos="fade-left" data-aos-delay="100">
            <!--Card -->
            <div class="row">
              <div class="col-lg-4 p-4" *ngFor="let card of cardDetails">

                <div class="card custom-style">
                  <div class="card-body ">
                    <h2 class="card-title">{{card.title}}</h2>
                    <p class="card-text custom-padd">{{card.Description}}</p>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End solution 2 Section -->

    <!-- ======= action Section ======= -->
    <section id="action" class="row">
      <!-- <div class="container cust-padding1" data-aos="fade-up">
        <div class="row action-container"> -->
      <div class="col-lg-2 content order-lg-1 order-1 cust-about-bg-2"></div>
      <div class="col-lg-7 content order-lg-1 order-2 cust-about-bg-1">
        <div class="container  vertical-center">
          <div>
            <div class="row">
              <div class="col-lg-12 col-sm-12">
                <h2 class="title cust-header">Action</h2>
                <p class="cust-para">
                  Your Digital Playbook begins with your own strategic vision. We'd love to connect with you. To learn
                  more
                  about Digital
                  Playbook, or get your project into high gear, please enter your contact information below. We'll be in
                  touch.
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-10 col-sm-12">
                <div class="input-group">
                  <input type="email" class="form-control" placeholder="Enter your email">
                  <span class="input-group-btn">
                    <button class="btn" type="submit">Subscribe Now</button>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 content order-lg-1 order-3 cust-about-bg-2">
        <div class="container  vertical-center">
          <div>
            <img src="../assets/img/ereader.svg">
          </div>
        </div>
      </div>
      <!-- </div>

      </div> -->
    </section><!-- End action 1 Section -->

    <!-- ======= solution 2 Section ======= -->
    <!-- <section id="vdo">
      <div class="container" data-aos="fade-up">
        <div class="row vdo-container">

          <div class="col-lg-1 content order-lg-1 order-1"></div>

          <div class="col-lg-11 content order-lg-2 order-2" data-aos="fade-left" data-aos-delay="100">
            <div class="row">
              <div class="col-6">
                <h3 class="mb-3">Carousel cards title </h3>
              </div>
              <div class="col-6 text-right">
                <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                  <i class="bi bi-star-fill"></i>
                </a>
                <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
                  <i class="bi bi-star-fill"></i>
                </a>
              </div>
              <div class="col-12">
                <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">

                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <div class="row">

                        <div class="col-md-4 mb-3">
                          <div class="card">
                            <img class="img-fluid" alt="100%x280"
                              src="https://images.unsplash.com/photo-1532781914607-2031eca2f00d?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=7c625ea379640da3ef2e24f20df7ce8d">
                            <div class="card-body">
                              <h4 class="card-title">Special title treatment</h4>
                              <p class="card-text">With supporting text below as a natural lead-in to additional
                                content.</p>

                            </div>

                          </div>
                        </div>
                        <div class="col-md-4 mb-3">
                          <div class="card">
                            <img class="img-fluid" alt="100%x280"
                              src="https://images.unsplash.com/photo-1517760444937-f6397edcbbcd?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=42b2d9ae6feb9c4ff98b9133addfb698">
                            <div class="card-body">
                              <h4 class="card-title">Special title treatment</h4>
                              <p class="card-text">With supporting text below as a natural lead-in to additional
                                content.</p>

                            </div>
                          </div>
                        </div>
                        <div class="col-md-4 mb-3">
                          <div class="card">
                            <img class="img-fluid" alt="100%x280"
                              src="https://images.unsplash.com/photo-1532712938310-34cb3982ef74?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=3d2e8a2039c06dd26db977fe6ac6186a">
                            <div class="card-body">
                              <h4 class="card-title">Special title treatment</h4>
                              <p class="card-text">With supporting text below as a natural lead-in to additional
                                content.</p>

                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                    <div class="carousel-item">
                      <div class="row">

                        <div class="col-md-4 mb-3">
                          <div class="card">
                            <img class="img-fluid" alt="100%x280"
                              src="https://images.unsplash.com/photo-1532771098148-525cefe10c23?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=3f317c1f7a16116dec454fbc267dd8e4">
                            <div class="card-body">
                              <h4 class="card-title">Special title treatment</h4>
                              <p class="card-text">With supporting text below as a natural lead-in to additional
                                content.</p>

                            </div>

                          </div>
                        </div>
                        <div class="col-md-4 mb-3">
                          <div class="card">
                            <img class="img-fluid" alt="100%x280"
                              src="https://images.unsplash.com/photo-1532715088550-62f09305f765?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=ebadb044b374504ef8e81bdec4d0e840">
                            <div class="card-body">
                              <h4 class="card-title">Special title treatment</h4>
                              <p class="card-text">With supporting text below as a natural lead-in to additional
                                content.</p>

                            </div>
                          </div>
                        </div>
                        <div class="col-md-4 mb-3">
                          <div class="card">
                            <img class="img-fluid" alt="100%x280"
                              src="https://images.unsplash.com/photo-1506197603052-3cc9c3a201bd?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=0754ab085804ae8a3b562548e6b4aa2e">
                            <div class="card-body">
                              <h4 class="card-title">Special title treatment</h4>
                              <p class="card-text">With supporting text below as a natural lead-in to additional
                                content.</p>

                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                    <div class="carousel-item">
                      <div class="row">

                        <div class="col-md-4 mb-3">
                          <div class="card">
                            <img class="img-fluid" alt="100%x280"
                              src="https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=ee8417f0ea2a50d53a12665820b54e23">
                            <div class="card-body">
                              <h4 class="card-title">Special title treatment</h4>
                              <p class="card-text">With supporting text below as a natural lead-in to additional
                                content.</p>

                            </div>

                          </div>
                        </div>
                        <div class="col-md-4 mb-3">
                          <div class="card">
                            <img class="img-fluid" alt="100%x280"
                              src="https://images.unsplash.com/photo-1532777946373-b6783242f211?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=8ac55cf3a68785643998730839663129">
                            <div class="card-body">
                              <h4 class="card-title">Special title treatment</h4>
                              <p class="card-text">With supporting text below as a natural lead-in to additional
                                content.</p>

                            </div>
                          </div>
                        </div>
                        <div class="col-md-4 mb-3">
                          <div class="card">
                            <img class="img-fluid" alt="100%x280"
                              src="https://images.unsplash.com/photo-1532763303805-529d595877c5?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=5ee4fd5d19b40f93eadb21871757eda6">
                            <div class="card-body">
                              <h4 class="card-title">Special title treatment</h4>
                              <p class="card-text">With supporting text below as a natural lead-in to additional
                                content.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>End solution 2 Section -->

    <!-- ======= last  Section ======= -->
    <section id="last">
      <div class="container" data-aos="fade-up">
        <div class="row last-container">

          <div class="col-lg-1 content order-lg-1 order-1"></div>

          <div class="col-lg-11  col-sm-12 content order-lg-2 order-2" data-aos="fade-left" data-aos-delay="100">
            <!--Card -->
            <div class="row">
              <div class="col-lg-3 p-4" *ngFor="let details of lastCardDetails">

                <div class="card text-center align-items-center justify-content-center cust_last">
                  <div class="card-block">
                    <h2><i class="bi bi-star-fill"></i></h2>
                    <h4 class="card-title">{{details.title}}</h4>

                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End solution 2 Section -->




  </main>
</div>